# This workflow will build a Java project with Maven
# For more information see: https://help.github.com/actions/language-and-framework-guides/building-and-testing-java-with-maven

name: snapshot

on:
  push:
    branches: [ master ]
  schedule:
    - cron: '0 6 * * *'

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Set up JDK 1.8
      uses: actions/setup-java@v1
      with:
        java-version: 1.8

    - name: Cache the Maven packages to speed up build
      uses: actions/cache@v2
      with:
        path: ~/.m2/repository
        key: ${{ runner.os }}-maven-${{ hashFiles('**/pom.xml') }}
        restore-keys: ${{ runner.os }}-maven-

    - name: download neo4j-contrib & graphframes & pulsar-spark-connector dependency
      run: |
        wget https://oss-cdn.nebula-graph.com.cn/jar-packages/neo4j-contrib.zip
        wget https://oss-cdn.nebula-graph.com.cn/jar-packages/graphframes.zip
        wget https://oss-cdn.nebula-graph.com.cn/jar-packages/streamnative.zip
        unzip -o -d ~/.m2/repository/ neo4j-contrib.zip
        unzip -o -d ~/.m2/repository/ graphframes.zip
        rm -rf ~/.m2/repository/io/streamnative
        unzip -o -d ~/.m2/repository/io/ streamnative.zip

    - name: Install nebula-graph
      run: |
        mkdir tmp
        pushd tmp
        git clone https://github.com/vesoft-inc/nebula-docker-compose.git
        pushd nebula-docker-compose/
        cp ../../common/src/test/resources/docker-compose.yaml .
        docker-compose up -d
        sleep 10
        popd
        popd

    - name: Build with Maven
      run: |
        mvn clean package -pl nebula-exchange_spark_2.2 -am -Pscala-2.11 -Pspark-2.2
        mvn clean package -pl nebula-exchange_spark_2.4 -am -Pscala-2.11 -Pspark-2.4
        mvn clean package -pl nebula-exchange_spark_3.0 -am -Pscala-2.12 -Pspark-3.0

    - name: upload to snapshot assets
      uses: softprops/action-gh-release@v1
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      with:
        files: |
          nebula-exchange_spark_2.2/target/nebula-exchange_spark_2.2-*-SNAPSHOT.jar
          nebula-exchange_spark_2.4/target/nebula-exchange_spark_2.4-*-SNAPSHOT.jar
          nebula-exchange_spark_3.0/target/nebula-exchange_spark_3.0-*-SNAPSHOT.jar

    - name: Deploy SNAPSHOT to Sonatype
      uses: samuelmeuli/action-maven-publish@v1
      with:
        gpg_private_key: ${{ secrets.GPG_PRIVATE_KEY }}
        gpg_passphrase: ${{ secrets.GPG_PASSPHRASE }}
        nexus_username: ${{ secrets.OSSRH_USERNAME }}
        nexus_password: ${{ secrets.OSSRH_TOKEN }}
